################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinFormsApp1/.vs
/.vs
/WinFormsApp1/WinFormsApp1/bin
/WinFormsApp1/WinFormsApp1/obj
/WinFormsApp1/WinFormsApp1/App.config
